*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
h1{
    margin: 50px 0;
    text-align: center;
    text-transform: capitalize;
}
.container{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.text-section{
    width: 50%;
    padding: 0 5%;
    /*justify: Stretches the lines so that each line has equal width (like in newspapers and magazines)*/
    text-align: justify;
    line-height: 1.7;
}
.image-section{
    width: 50%;
    padding: 0;
    text-align: center;
}
.image-section img{
    width: 450px;
}